@import "tailwindcss";


@theme {
  --color-fundo: #F8FAFC;
  --color-fundo-secundario: #F1F5F9;

  --color-card: #FFFFFF;
  --color-borda: #E2E8F0;

  --color-titulo: #0F172A;
  --color-texto-principal: #334155;
  --color-texto-secundario: #64748B;

  --color-acoes-primaria: #6366F1;
  --color-hover: #4F46E5;;
  --color-acoes-secundaria: #64748B;

  --font-texto-geral: var(--fonte-texto-geral);
  --font-titulo: var(--fonte-titulo);
}

@layer components{
  .titulo-principal{
    @apply text-4xl font-semibold tracking-tight text-titulo;
    font-family: var(--fonte-dm-sans-titulo);
  }
  .titulo-secao{
    @apply text-2xl font-semibold  text-titulo;
    font-family: var(--fonte-dm-sans-titulo);
  }
  .titulo-card{
    @apply text-xl font-semibold text-titulo;
    font-family: var(--fonte-dm-sans-titulo);
  }
  .texto-base{
    @apply text-base leading-relaxed  text-texto-principal;
    font-family: var(--fonte-inter-geral);
  }
  .texto-suave{
    @apply text-sm  text-texto-secundario;
    font-family: var(--fonte-inter-geral);
  }
}

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body{
  font-family: var(--fonte-inter-geral);
}